.addGroupPage {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.addGroupCard {
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}

.addGroupCard :global(.ant-card-body) {
  padding: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
} 